*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
 
    margin: auto;
    font-family: 'Inter', sans-serif;
     font-family: 'Montserrat', sans-serif;
      font-family: 'Open Sans', sans-serif;
     font-family: 'Work Sans', sans-serif;
     overflow-x: hidden;
     padding: 0;
     margin: 0;
}
/* navbar start*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;
    background-color: white;
    box-shadow: 0 2px 2px -2px silver;

}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 100%;
}
.logo ,.footer-logo h4{
    font-size: 2.8rem;
    font-weight: 800;
    padding-left: 15px;
}
.logo , .footer-logo span{
    color: #ff42a5;
}
nav ul{
    display:flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 20px 15px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.icon{
    background-color: #e7e6e9;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
}


/* navbar end*/


/* header start*/


header{
   
}
.header-inner{
display: flex;
justify-content: space-between;
gap: 50px;



}
.header-desc{
    background-image: url(images/Group\ 14.png);
 width: 50%;
 background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 50px;
    padding-left: 180px;
    padding-top: 150px;
}

.header-desc h3{
   font-size: 48px;
    font-weight: 700;
  text-transform: uppercase;
}
.header-desc h1{
    font-size: 72px;
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}


.header-list{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.header-list img{
    margin-right: 10px;

}

.header-image img{
    width: 100%;
    padding-right: 180px;
}
.btndiv{
    display: flex;
    color: white;
    margin-top: 25px;
}
.btndiv .btn1{
background-color: #ff42a5;
color: white;
padding: 12px 25px;
border-radius: 25px;
outline: none;
border: none;
cursor: pointer;
margin-right: 10px;
}
.btndiv .btn2{
    background-color: #4ec5f7;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    }
/* header end*/


/* We are gamer section start*/
.gamer-inner{
    width: 100%;
padding: 0px 180px;
display: flex;
justify-content: space-between;
align-items: center;
}
.gamer-inner button{
    background-color: #ff42a5;
color: white;
padding: 12px 25px;
border-radius: 25px;
outline: none;
border: none;
cursor: pointer;
margin: 20px 0px;

}
.gamer-inner-images img{
    width: 100%;
}
.gamer-inner-desc p{

color:#534C64;
}
.gamer-inner-desc{
    text-align: right;
}
.gamer-inner-desc h2{
    font-size: 48px;
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;

}
/* We are gamer section end*/
.footer-nav{
display: flex;
flex-wrap: wrap;
width: 70%;
margin: auto;
}
.social-icon-inner {
    display: flex;
    flex-wrap: wrap;
   width: 30%;
    margin: auto;
    justify-content: center;
}
.terms{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.terms li{
list-style: none;
padding: 10px 15px;
color: #534C64;
}
.social-icon-inner i{
    font-size: 20px;
    color: white;
    width: 50px;
    margin: 10px 0px;
    text-align: center;
}
.footer-nav li{
    list-style: none;
    padding: 20px 25px;
}
.footer-nav li a{
    text-decoration: none;;
}

.inner-download{
    display: flex;
    justify-content: space-between;
    padding: 50px 180px;
    align-items: center;
    gap: 10px;
    padding-bottom: 100px;
}
.download-desc{
    width: 300px;
    text-align: right;
    margin: 0 auto;
}
.download-desc h2{
    font-size: 36px;
}
.download-desc h2 span{
    color: #ff42a5;
}
.download-desc p{
    color: #534C64;
    padding-top: 10px;
}
.download-img{
    position: relative;
}
.support-img-download{
    width: 250px;
}
.support-img-download{
  position: absolute;
  top: 350px;
  margin-left: -150px;
 
}
.main-img-download{
    width: 500px;
}

    .funny-inner{
        padding: 0px 180px;
        display: flex;
     flex-wrap: wrap;
    }
    .funny-inner .main-img{
        width: 100%;
         position: relative;
    
    }
    
    .funny-image-text p{
        padding: 20px 5px;   
    }
    
    .funny-item{
       width: 300px;
       padding: 0px 20px; 
       margin: 0 auto;
       height: 400px;
       margin-top: 50px;
    }
    .funny-btn{
      position: relative;
        top: -250px;
        left: 100px;
        display: none;
       cursor: pointer;
       transition: all 1s ease;
       
    }
    .funny-item:hover .funny-btn {
       display: block;
    }
    .funny-btn img{
        width: 50px
    }
    .funny-btn p{
        color: #ff42a5;
        padding: 0px 0px; 
        margin-left:-18px;
        font-weight: bold;
    }
    
    
    .image-container {
        position: relative;
        display: inline-block;
        height: 305px;
        cursor: pointer;
        
      }
      
      .image-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 1;
        border-radius: 12px;
      
      }
      
      .image-container:hover::before {
        opacity: 0.5;
      }
      
      .image-container img {
        display: block;
      }
      
    
    
.funny h2{
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
}    
.funny span{
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}
.career-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    background: #ff42a5;
    color: white;
    margin-top:100px;
}
.career-inner p{
    padding: 20px 0px;
}
.career-inner img{
   
}


.main-career-left-list{
    display: flex;
}
.career-left-list li{
    list-style: none;
    padding: 10px 0px;
    font-size: 18px;
}
.career-left-list2{
    text-align: right;
    
}
.career-left-list2 li{
    list-style: none;
    padding: 10px 0px;
    font-size: 18px;
}

.ads{
    margin: 50px 0px;

}
.ads-top{
    display: flex;
    justify-content:center;
    padding: 10px 180px;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1500px;
}
.ads-item{
    display: flex;
    align-items: center;
    margin: 10px 5px;
    border-radius: 25px;
    position: relative;
    border: 1px solid transparent;
    padding: 5px 10px;
}
.ads-item h6{
    padding-left: 10px;
}
.ads-item:hover{
    border: 1px solid #ff42a5;
    

}
.footer-inner{
    text-align: center;
    border: 1px solid grey;
   color: white;
    margin: 0 auto;
    padding: 50px 0px;
 
}
.footer ul li{
    text-align: center;
}
.footer ul{
    display: flex;
    justify-content: center;
}
.footer ul li a{
    color: white;
}
.footer-logo img{
    width: 120px;
    text-align: center;

}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    background-color:#0b0223;
}
@media screen and (max-width: 1200px) {
    .logo img{
        width: 100px;
    }
   nav{
    flex-direction: column;
    padding: 30px 20px;
    
   }
   .logo{
    justify-content: center;
    margin-bottom: 25px;
   }
   nav ul{
    justify-content: center;
    flex-wrap: wrap;
   }
   .header-inner{
    flex-direction: column;
    flex-direction: column-reverse;
      }
      header{
           
        padding: 50px 50px;
    }
   
   .gamer-inner{
    width: 100%;
padding: 0px 50px;
flex-direction: column;
}
.gamer-inner-desc{
    width: 100%;
   text-align: center;
}
.inner-download{
    flex-direction: column;
 }
 .download-desc{
    text-align: center;
}
.career-inner {
    flex-direction: column;
}
.ads-top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



  }


  
@media screen and (max-width: 1500px) {
    .header-image img{
        width: 100%;
        text-align: center;
    }
    

.gamer-inner{
    width: 100%;
padding: 0px 50px;
}

.download-img .main-img-download{
    width: 400px;
}
.download-img .support-img-download{

}
.support-img-download{
    position: absolute;
    top: 320px;
    margin-left: -150px;
      
   
    }
    .career-inner img{
        width: 600px
    }
    .career-inner{
       padding-top: 100px;
       }  



       .header-desc {
        background-image: url(images/Group\ 14.png);
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0px 50px;
        padding-top: 150px;
        padding-bottom: 150px;
    
    }
    .header-list{
     
    }
    header{
        padding: 50px 0px;
    }
    .header-inner{
        flex-direction: column;
        flex-direction: column-reverse;
        justify-content: center;
        margin: auto;
    }
    .header-image img{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .header-image img{
        width: 100%;
        padding-right: 0px;
        padding: 10px 25px;
    }
    

 

    .header-image img {
        width: 100%;
        padding-right: 0px;
        padding: 10px 150px;
    }

        
}

    @media screen and (max-width: 992px) { 
        .header-inner{
          flex-direction: column;
          flex-direction: column-reverse;
            }
            header{
 
                width: 100%;
                padding: 0px 0px;
            }
            .header-desc {
                width: 100%;
            }
            .header-desc{
                
                
            }
            .header-image img{
                width: 100%;
                text-align: center;
            }
            .funny-inner{
                padding: 0px 20px;
                display: flex;
             flex-wrap: wrap;
            }
       .career-inner{
        padding-left: 50px;
        padding-right: 50px;
       }  
       .ads-top{
        display: flex;
        justify-content:center;
        padding: 10px 20px;
        flex-wrap: wrap;
    }
        .ads-top{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        .header-image img {
            width: 100%;
            padding-right: 0px;
            padding: 10px 50px;
        }
    }

    @media screen and (max-width: 768px) {
  nav ul{
    flex-direction: column;
  }
  .download-img .main-img-download{
    width: 250px;
}
.support-img-download{
    position: absolute;
    top: 100px;
    margin-left: -50px;
      width: 100px;
      width: 150px;
    }
 .inner-download{
    justify-content: center;
 }
 .download-desc {
   
  float: left;
  margin: left;
  text-align: left;
    
}
.inner-download{
    display: flex;
    justify-content: space-between;
    padding: 50px 10px;
    align-items: center;
    gap: 10px;
}
body{
    overflow-x: hidden!important;
}

}
